PyQt5~=5.15.4
dlib~=19.17.0
numpy~=1.19.2
pandas~=1.1.5
Keras~=2.4.3
matplotlib~=3.3.4
tensorflow~=2.5.0
sklearn~=0.0
scikit-learn~=0.24.2
Flask==1.0.2
requests==2.19.1
typing==3.6.6
Flask_Cors==3.0.7
flask_socketio==3.3.2
python-socketio==3.1.2
opencv-python==4.3.0.38
owlready2==0.16
rdflib==4.2.2
pyttsx3
scipy==1.1
scikit-image==0.14.2
mlxtend==0.16.0
ttictoc==0.4.1
celery
tensorflow
